---
import { Button } from "@/components/ui/button";
import { ExternalLink } from "lucide-react";
---

<Button>
  <a class="mr-2" href="/dev/record">[開発用] GPS, 加速度の記録ページ</a>
  <ExternalLink size={16} />
</Button>
