---
import { Button } from "@/components/ui/button";
import { Eye } from "lucide-react";

const { className } = Astro.props;
---

<Button variant="outline" className={`${className} w-full`}>
  <Eye strokeWidth={3} size={16} />
  <!-- TODO:ユーザーネーム欄を動的変更する -->
  <a
    class="ml-2 font-bold"
    href="/monitor/884df947-b08f-4dfe-9615-65c0430cd904"
  >
    行動を監視
  </a>
</Button>
