---
import Layout from "@/layouts/layout.astro";
import DevelopButton from "./_develop-button.astro";
---

<Layout>
  <main class="flex justify-center items-center min-w-full min-h-dvh p-6">
    <DevelopButton />
  </main>
</Layout>
